body {
    margin: auto;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    background-color: white;
    max-width: 1400px;
    width: 100%;
  margin: 0 auto;
}

/* Шапка */
header {
    font-family: 'Playfair', sans-serif;
    margin: 0px;

}


.logo {
    margin-top: 5px;
    margin-left: 110px;
}

.header_inner {
    background-color:#0c0c14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav{
    margin-left: 600px;
}
.nav_item {
  width: 1400px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 100px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav_item:hover {
    color: #d42c2c;
    text-shadow: 0 0 1px hsl(0, 0%, 0%);
}

.button {
    background-color: #2c141c;
    border: solid 1px rgb(0, 0, 0);
    padding: 15px 35px;
    border-radius: 6px;
    margin-right: 85px;
}
a{
    text-decoration: none;
    color:#d42c2c;
}
.button_text:hover {
    color: hsl(0, 0%, 97%);
    text-shadow: 0 0 1px hsl(24, 100%, 58%);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.856);
}
/*Баннер*/
.banner_image{
    width: 1400px;
    margin-bottom: 30px;
}

/* Прайс лист */
.cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;
  }
.card{
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}
  
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  
  .card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */
  .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
  }
  
  .card__prices {
    display: flex;
    margin-bottom: 10px;
  }
  
  .card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  
  .card__price--discount {
    font-weight: 500;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .card__price--discount::before {
    content: "Со скидкой";
    font-weight: 200;
    font-size: 17px;
    color: #bfbfbf;
  }
  
  .card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  
  .card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 14px;
    color: #bfbfbf;
  }
  
  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #414141;
  }
  
  .card__title:hover {
    color: #ff6633;
  }
  
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  
  .card__add:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
  }
/* Контакты */
.contact{
    background-color: rgba(182, 182, 182, 0.308);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 150px;
    margin-top: 70px;
}
.contacts_link:hover{
    transform: scale(1.1);
    transition: 1s; 
}
.contacts_link{
    padding-right: 50px;
}
/* Подвал */
.footer{
    justify-content:space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 47, 129);
    height: 100px;
}
.copyright{
    font-family: 'Playfair', sans-serif;
    color: white;
    float: left;
    margin-left: 20px;
}
.address{
    font-family: 'Playfair', sans-serif;
    color: white;
    text-align: right;
    margin-right: 20px;
}